body {
  color: #fff;
}
.containerBody {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-gap: 1em;
  min-height: 100vh;
}

.sideBar {
  padding: 15px;
  background-color: #393e41;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_feild {
  display: flex;
  justify-content: space-between;
}

.header_feild .optionFeild {
  display: flex;
  align-items: center;
  gap: 4px;
  transition: 0.2s ease all;
  opacity: 0;
}

.header_feild:hover .optionFeild {
  opacity: 1;
}
.header_feild .optionFeild button {
  padding: 0px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  color: #fff;
}
.header_feild .optionFeild button svg {
  font-size: 17px;
}
